.App {
  text-align: center;
}

.colorBox {
  width: 200px;
  height: 200px;
  color: black;
  /* want to control this variable */
}

.colorBoxRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}